@import url('https://fonts.google.com/specimen/Outfit');
body
{
    background-color:hsl(212, 45%, 89%);
}

.BOX
{   
    width:250px;
    margin-left:450px;
    margin-top: 20px;
    align-items: center;
    margin-top: 100px;
    padding:20px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-bottom:12px;
    top:50%;
    left:50%;
    max-width: 300px;
    /* display:flex;
    flex-direction: column;
     */

    /* transform: translate(-50%, -50%); */
}
.BOX img
{
    /* width:30%; */
    max-width: 100%;
}
.BOX h3
{
    color:hsl(218, 44%, 22%);
    font-style: bold;
    /* line-height: 2px; */
    font-weight: 700;
}
.BOX p
{
    color:hsl(220, 15%, 55%);
}

@media (min-width: 375px)
{   
    /* .BOX
    {
    width:200px;
    height:auto;
    } */


}